<a href="https://colab.research.google.com/github/ronikapaul2000/Machine_Learning_Lab/blob/main/25_8_2022_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 

arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
dtype: int64

In [ ]:
import pandas as pd

import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [ ]:
import pandas as pd
s=pd.Series(50,index=[0,1,2,3,4])
print(s)

0    50
1    50
2    50
3    50
4    50
dtype: int64

In [ ]:
import pandas as pd
d={'Name' : 'Hardik', 'IpItem' : 'MI', 'Runs' : 1500}
s=pd.Series(d)
print(s)

Name      Hardik
IpItem        MI
Runs        1500
dtype: object

In [ ]:
import pandas as pd
s-pd.Series([1,2,3,4,5])
print('To Multiply all values inaseries by2')
print('-------------------------------------------')
print(s*2)
print('To Find the Square of all the values in a series')
print('------------------------------------------------')
print(s**2)
print('To print all the values inaseries that are greater than 2')
print('---------------------------------------------------------')
print(s[s>2])

To Multiply all values inaseries by2
-------------------------------------------
0    100
1    100
2    100
3    100
4    100
dtype: int64
To Find the Square of all the values in a series
------------------------------------------------
0    2500
1    2500
2    2500
3    2500
4    2500
dtype: int64
To print all the values inaseries that are greater than 2
---------------------------------------------------------
0    50
1    50
2    50
3    50
4    50
dtype: int64

In [ ]:
import pandas as pd
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s3=pd.Series([5,14,23,32],index=['a','b','c','d'])
print('To Add Series1 & series2')
print('------------------------------')
print(s1+s2)
print('To Add Series2 & Series3')
print('-----------------------------')                                                                                                                                  
print(s2+s3)
print('To Add Series2 & series3 and Filled Non Matching Index with 0')
print('--------------------------------------------------------------')
print(s2.add(53,fill_value=0))

To Add Series1 & series2
------------------------------
a    11
b    22
c    33
d    44
e    55
dtype: int64
To Add Series2 & Series3
-----------------------------
a    15.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64
To Add Series2 & series3 and Filled Non Matching Index with 0
--------------------------------------------------------------
a     63
b     73
c     83
d     93
e    103
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77,42,48,97])
#createaseries from array
                        
s=pd.Series(arr)
#to print fiest5rows
print(s.head())
#To print first3rows
print(s.head(3))

0    10
1    15
2    18
3    22
4    55
dtype: int64
0    10
1    15
2    18
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77,42,48,97])
#createaseries from array
s=pd.Series(arr)
#to print last5rows
print(s.tail())
#To print Last4rows
print(s.tail(4))

4    55
5    77
6    42
7    48
8    97
dtype: int64
5    77
6    42
7    48
8    97
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s.loc[:2])
print(s.loc[3:4])
s.loc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
0    10
1    15
2    18
dtype: int64
3    22
4    55
dtype: int64

2    18
3    22
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s.iloc[:2])
print(s.iloc[3:4])
s.iloc[2:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
0    10
1    15
dtype: int64
3    22
dtype: int64

2    18
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print(s[1])
print('\n')
print(s[3:4])
s[:3]

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64
15


3    22
dtype: int64

0    10
1    15
2    18
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
arr=np.array(['a','b','c','d'],)
s=pd.Series(arr,index=['first','second','third','fourth'])
print(s)
#To print only indexes in series
print("\n indexes in Series are ::: ")
print(s.index)

first     a
second    b
third     c
fourth    d
dtype: object

 indexes in Series are :::
Index(['first', 'second', 'third', 'fourth'], dtype='object')

In [ ]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr,index=['A','B','C','D','E','F'])
print(s)
print(s[1:5:2])
print(s[0:6:2])

A    10
B    15
C    18
D    22
E    55
F    77
dtype: int64
B    15
D    22
dtype: int64
A    10
C    18
E    55
dtype: int64

In [ ]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
s=pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [ ]:
import pandas as pd
name=pd.Series(['Hardik','Virat'])
team=pd.Series(['MI','RCB'])
dic={'Name':name,'Team':team}
df=pd.DataFrame(dic)
print(df)

     Name Team
0  Hardik   MI
1   Virat  RCB

In [ ]:
import pandas as pd
l=[{'Name':'Sachin','SirName':'Bhardwaj'},
     {'Name':'Vinod','SirName':'Verma'},
     {'Name':'Rajesh','SirName':'Mishra'}]
dfl=pd.DataFrame(l)
print(dfl)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma
2  Rajesh    Mishra

In [ ]:
import pandas as pd
l=[{'Name':'Sachin','SirName':'Bhardwaj'},
    {"Name':'Vinod','SirName":'Verma'}]
dfl=pd.DataFrame(l)
print(dfl)
for(row_index,row_value)in dfl.iterrows():
    print('\nRow index is ::',row_index)
    print('Row Value is ::')
    print(row_value)

     Name   SirName Name':'Vinod','SirName
0  Sachin  Bhardwaj                    NaN
1     NaN       NaN                  Verma

Row index is :: 0
Row Value is ::
Name                        Sachin
SirName                   Bhardwaj
Name':'Vinod','SirName         NaN
Name: 0, dtype: object

Row index is :: 1
Row Value is ::
Name                        NaN
SirName                     NaN
Name':'Vinod','SirName    Verma
Name: 1, dtype: object