<a href="https://colab.research.google.com/github/ronikapaul2000/Machine_Learning_Lab/blob/main/29_8_2022_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
l = [{'Name': 'Sachin', 'SirName': 'Bhardwaj'},
     {'Name': 'Vinod', 'SirName': 'Verma'}]
dfl=pd.DataFrame(l)
print(dfl)
for (col_name,col_value) in dfl.iteritems():
    print('\n')
    print('Column Name is ::' , col_name)
    print('Column Values are :: ' )
    print(col_value)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma


Column Name is :: Name
Column Values are ::
0    Sachin
1     Vinod
Name: Name, dtype: object


Column Name is :: SirName
Column Values are ::
0    Bhardwaj
1       Verma
Name: SirName, dtype: object

In [ ]:
import pandas as pd
empdata={ 'empid':[101,102,103,104,105,106],
           'ename':['Sachin', 'Vinod', 'Lakhbir', 'Anil', 'Devinder', 'UmaSelvi'],
            'Doj':['12-01-2012','15-01-2012', '05-09-2007', '17-01- 2012', '05-09-2007', '16-01-2012']}
df=pd.DataFrame(empdata)
print(df)

   empid     ename          Doj
0    101    Sachin   12-01-2012
1    102     Vinod   15-01-2012
2    103   Lakhbir   05-09-2007
3    104      Anil  17-01- 2012
4    105  Devinder   05-09-2007
5    106  UmaSelvi   16-01-2012

In [ ]:
df.empid

0    101
1    102
2    103
3    104
4    105
5    106
Name: empid, dtype: int64

In [ ]:
df['empid']

0    101
1    102
2    103
3    104
4    105
5    106
Name: empid, dtype: int64

In [ ]:
df[['empid','ename']]

   empid     ename
0    101    Sachin
1    102     Vinod
2    103   Lakhbir
3    104      Anil
4    105  Devinder
5    106  UmaSelvi

In [ ]:
import pandas as pd
s = pd.Series([10,15,18,22])
df=pd.DataFrame(s)
df.columns=['List1']                                            
df['List2']=20   
df['List3']=df['List1'] + df['List2']  
df['List4']=df['List3'] + df['List2']
df['List5']=df['List4'] + df['List3']               
print(df)

   List1  List2  List3  List4  List5
0     10     20     30     50     80
1     15     20     35     55     90
2     18     20     38     58     96
3     22     20     42     62    104

In [ ]:
df.pop('List4')

0    50
1    55
2    58
3    62
Name: List4, dtype: int64

In [ ]:
import pandas as pd
s= pd.Series([10,20,30,40])
df=pd.DataFrame(s)
df.columns=['List1']
df['List2']=40
df1=df.drop('List2',axis=1)
df2=df.drop(index=[2,3],axis=0)
print(df)
print(" After deletion::")
print(df1)
print (" After row deletion::")
print(df2)

   List1  List2
0     10     40
1     20     40
2     30     40
3     40     40
 After deletion::
   List1
0     10
1     20
2     30
3     40
 After row deletion::
   List1  List2
0     10     40
1     20     40

In [ ]:
import pandas as pd
Runs={ 'TCS': { 'Qtr1':2500, 'Qtr2' : 2000, 'Qtr3':3000, 'Qtr4' : 2000},
         'WIPRO': {'Qtr1':2800, 'Qtr2' :2400, 'Qtr3':3600, 'Qtr4':2400},
         'L&T': {'Qtr1' :2100, 'Qtr2':5700, 'Qtr3' :35000, 'Qtr4':2100}}
df=pd.DataFrame(Runs)
print(df)
                               
print(df.loc['Qtr3' , : ])
print(df.loc['Qtr1':'Qtr3' : ])

       TCS  WIPRO    L&T
Qtr1  2500   2800   2100
Qtr2  2000   2400   5700
Qtr3  3000   3600  35000
Qtr4  2000   2400   2100
TCS       3000
WIPRO     3600
L&T      35000
Name: Qtr3, dtype: int64
       TCS  WIPRO    L&T
Qtr1  2500   2800   2100
Qtr2  2000   2400   5700
Qtr3  3000   3600  35000

In [ ]:
import pandas as pd
Runs={ 'TCS': { 'Qtr1':2500, 'Qtr2' :2000, 'Qtr3':3000, 'Qtr4':2000},
         'WIPRO': {'Qtr1':2800, "Qtr2" :2400, 'Qtr3' :3600, 'Qtr4' :2400},
         'L&T': { 'Qtr1':2100, 'Qtr2':5700, 'Qtr3':35000, 'Qtr4' :2100}}
df=pd.DataFrame(Runs)                                 
print(df)
print(df.loc[ :,'TCS' ])
print(df.loc[ :, 'TCS': 'WIPRO'])

       TCS  WIPRO    L&T
Qtr1  2500   2800   2100
Qtr2  2000   2400   5700
Qtr3  3000   3600  35000
Qtr4  2000   2400   2100
Qtr1    2500
Qtr2    2000
Qtr3    3000
Qtr4    2000
Name: TCS, dtype: int64
       TCS  WIPRO
Qtr1  2500   2800
Qtr2  2000   2400
Qtr3  3000   3600
Qtr4  2000   2400

In [ ]:
import pandas as pd
empdata= { 'empid':[101,102,103,104,105,106],
           'ename':['Sachin', 'Vinod', 'Lakhbir', 'Anil', 'Devinder', 'UmaSelvi'],
          'Doj':['12-01-2012', '15-01-2012', '05-09-2007', '17-01- 2012', '05-09-2007','16-01-2012']}
df=pd.DataFrame(empdata)
                               
print(df)
print(df.loc[0])
df.loc[0:2]

   empid     ename          Doj
0    101    Sachin   12-01-2012
1    102     Vinod   15-01-2012
2    103   Lakhbir   05-09-2007
3    104      Anil  17-01- 2012
4    105  Devinder   05-09-2007
5    106  UmaSelvi   16-01-2012
empid           101
ename        Sachin
Doj      12-01-2012
Name: 0, dtype: object

   empid    ename         Doj
0    101   Sachin  12-01-2012
1    102    Vinod  15-01-2012
2    103  Lakhbir  05-09-2007

In [ ]:
import pandas as pd
Runs={ 'TCS': { 'Qtr1':2500, 'Qtr2' : 2000, 'Qtr3':3000, 'Qtr4':2000},
         'WIPRO': {'Qtr1':2800, 'Qtr2':2400, 'Qtr3':3600, 'Qtr4' :2400},
         'L&T': {'Qtr1':2100, 'Qtr2' :5700, 'Qtr3' :35000, 'Qtr4' :2100}}
df=pd.DataFrame(Runs)
print(df)
print(df.iloc[0 :2 ,1:2 ])
                                  
print(df.iloc[:, 0:2])

       TCS  WIPRO    L&T
Qtr1  2500   2800   2100
Qtr2  2000   2400   5700
Qtr3  3000   3600  35000
Qtr4  2000   2400   2100
      WIPRO
Qtr1   2800
Qtr2   2400
       TCS  WIPRO
Qtr1  2500   2800
Qtr2  2000   2400
Qtr3  3000   3600
Qtr4  2000   2400

In [ ]:
import pandas as pd
empdata={'Doj':['12-01-2012','15-01-2012', '05-09-2007',
                '17-01-2012', '05-09-2007', '16-01-2012'],
            'empid':[101,102,103,104,105,106],
            'ename' :['Sachin','Vinod', 'Lakhbir', 'Anil', 'Devinder', 'UmaSelvi']
          }
df=pd.DataFrame(empdata)
print(df)
print(df.head())
print(df.tail())

          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
          Doj  empid     ename
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi

In [ ]:
import pandas as pd
empdata = { 'Doj':['12-01-2012','15-01-2012','05-09-2007','17-01-2012', '05-09-2007', '16-01-2012'],
          'empid':[101,102,103,104,105,106],
          'ename':['Sachin', 'Vinod', 'Lakhbir','Anil', 'Devinder', 'UmaSelvi']
         }
df=pd.DataFrame(empdata)
print(df)
print(df.head(2))
print(df.tail(2))
print(df[2:5])

          Doj  empid     ename
0  12-01-2012    101    Sachin
1  15-01-2012    102     Vinod
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid   ename
0  12-01-2012    101  Sachin
1  15-01-2012    102   Vinod
          Doj  empid     ename
4  05-09-2007    105  Devinder
5  16-01-2012    106  UmaSelvi
          Doj  empid     ename
2  05-09-2007    103   Lakhbir
3  17-01-2012    104      Anil
4  05-09-2007    105  Devinder

In [ ]:
import pandas as pd
dic={
        'Name': ['Sachin Bhardwaj', 'Vinod Verma', 'Rajesh Mishra'],
        'Age': [32, 35, 40]
    }
df=pd.DataFrame(dic, index = [True, False, True])
print(df)
print(df.loc[True])                                  
print()
print('Result of iloc method')
print(df.iloc[1])

                  Name  Age
True   Sachin Bhardwaj   32
False      Vinod Verma   35
True     Rajesh Mishra   40
                 Name  Age
True  Sachin Bhardwaj   32
True    Rajesh Mishra   40

Result of iloc method
Name    Vinod Verma
Age              35
dtype: object

In [ ]:
import pandas as pd
dic1= { 'id': ['1', '2', '3', '4', '5'], 'Value1': ['A', 'C', 'E', 'G', 'I'],
         'Value2': ['B', 'D', 'F', 'H', 'J']}
dic2= {'id': ['2', '3', '6', '7', '8'], 'Valuel': ['K', 'M', 'O', 'Q', 'S'],
         'Value2': ['L', 'N', 'P', 'R', 'T']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.concat([df1,df2])
print(df3)

  id Value1 Value2 Valuel
0  1      A      B    NaN
1  2      C      D    NaN
2  3      E      F    NaN
3  4      G      H    NaN
4  5      I      J    NaN
0  2    NaN      L      K
1  3    NaN      N      M
2  6    NaN      P      O
3  7    NaN      R      Q
4  8    NaN      T      S

In [ ]:
import pandas as pd
dic1= { 'id': ['1', '2', '3', '4', '5'], 'Valuel': ['A', 'C', 'E', '6', 'I'],
         'Value2': ['B', 'D', 'F', 'H', 'J']}
dic2= {'id': ['2', '3', '6', '7', '8'], 'Valuel': ['K', 'M', 'O','Q','S'],
         'Value2': ['L', 'N', 'P', 'R', 'T']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.concat([df1,df2],ignore_index=True)
print(df3)

  id Valuel Value2
0  1      A      B
1  2      C      D
2  3      E      F
3  4      6      H
4  5      I      J
5  2      K      L
6  3      M      N
7  6      O      P
8  7      Q      R
9  8      S      T

In [ ]:
import pandas as pd
dic1= { 'id': ['1', '2', '3', '4', '5'], 'Value1': ['A', 'C', 'E', 'G','I'],
         'Value2': ['B', 'D', 'F', 'H','J']}
dic2= {'id': ['2', '3', '6', '7', '8'], 'Valuel': ['K', 'M', 'O', 'Q', 'S'],
         'Value2': ['L', 'N', 'P', 'R', 'T']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
merge={ 'Data1':df1,'Data2':df2}
df3=pd.concat(merge)
print(df3)

        id Value1 Value2 Valuel
Data1 0  1      A      B    NaN
      1  2      C      D    NaN
      2  3      E      F    NaN
      3  4      G      H    NaN
      4  5      I      J    NaN
Data2 0  2    NaN      L      K
      1  3    NaN      N      M
      2  6    NaN      P      O
      3  7    NaN      R      Q
      4  8    NaN      T      S

In [ ]:
import pandas as pd
dic1= { 'id': ['1', '2', '3', '4', '5'], 'Value1': ['A', 'C','E', 'G', 'I'],
         'Value2': ['B', 'D', 'F', 'H', 'J']}
dic2= {'id': ['2', '3', '6', '7', '8'], 'Value1': ['K', 'M', '0', 'l', 'S'],
         'Value2': ['L', 'N', 'P', 'R', 'T']}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
print(df3)

        id Value1 Value2 Valuel
Data1 0  1      A      B    NaN
      1  2      C      D    NaN
      2  3      E      F    NaN
      3  4      G      H    NaN
      4  5      I      J    NaN
Data2 0  2    NaN      L      K
      1  3    NaN      N      M
      2  6    NaN      P      O
      3  7    NaN      R      Q
      4  8    NaN      T      S

In [ ]:
import pandas as pd
dic1= { 'id': ['1', '2', '3', '4', '5'], 'Value1': ['A', 'C', 'E', 'G', 'I'],
         'Value2': ['B', 'D', 'F', 'H', 'J']}
dic2= {'id': ['2', '3', '6', '7', '8'], 'Valuel': ['K', 'M', 'O', 'Q', 'S'],
         'Value2': ['L', 'N', 'P', 'R', 'T']}
dic3 = {'id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
         'Value3': [12, 13, 14, 15, 16, 17, 15, 12, 13, 23]}
df1=pd.DataFrame(dic1)
df2=pd.DataFrame(dic2)
df3=pd.concat((df1,df2))
df4=pd.DataFrame(dic3)
print(df5)

NameError: ignored