<a href="https://colab.research.google.com/github/ronikapaul2000/Machine_Learning_Lab/blob/main/Datafame_Q2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Create Dataframe From Series
import pandas as pd
s=pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [2]:
#DataFrame from List of Dictionaries
import pandas as pd
l=[{"Name":'Sachin',"SirName":"Bhardwaj"},
     {"Name":'Vinod','SirName':'Verma'},
     {"Name":'Rajesh','SirName':'Mishra'}]
dfl=pd.DataFrame(l)
print(dfl)

     Name   SirName
0  Sachin  Bhardwaj
1   Vinod     Verma
2  Rajesh    Mishra

In [11]:
#Display the first 5 rows of data frame
import pandas as pd 
l=[{'Name':'Sachin',"SirName":'Bhardwaj'} ,
    {'Name':"Romit","SirName":"Paul"},
    {'Name':'Jithin',"SirName":'Jacob'},
    {'Name':"Bafin","SirName":"Baby"},
    {'Name':"Anly","SirName":"Anders"},
    {'Name':"Joel","SirName":"Lovejo"},
    {'Name':"Noah","SirName":"Arun"}]
dfl=pd.DataFrame( l )
print(dfl)
for ( row_index , row_value ) in dfl.iterrows ( ) :
    print ( " \n Row index is :: " , row_index )
    print ( ' Row Value is :: ' )
    print ( row_value )

     Name   SirName
0  Sachin  Bhardwaj
1   Romit      Paul
2  Jithin     Jacob
3   Bafin      Baby
4    Anly    Anders
5    Joel    Lovejo
6    Noah      Arun

 Row index is ::  0
 Row Value is ::
Name         Sachin
SirName    Bhardwaj
Name: 0, dtype: object

 Row index is ::  1
 Row Value is ::
Name       Romit
SirName     Paul
Name: 1, dtype: object

 Row index is ::  2
 Row Value is ::
Name       Jithin
SirName     Jacob
Name: 2, dtype: object

 Row index is ::  3
 Row Value is ::
Name       Bafin
SirName     Baby
Name: 3, dtype: object

 Row index is ::  4
 Row Value is ::
Name         Anly
SirName    Anders
Name: 4, dtype: object

 Row index is ::  5
 Row Value is ::
Name         Joel
SirName    Lovejo
Name: 5, dtype: object

 Row index is ::  6
 Row Value is ::
Name       Noah
SirName    Arun
Name: 6, dtype: object

In [14]:
#Select the last two columns of the data frame 
import pandas as pd
list = [ { " Name " : ' Sachin ' , ' SirName ' : " Bhardwaj " } ,
     { " Name " : " Vinod " , " SirName " : " Verma " } ]
df1 = pd.DataFrame (list )
print ( df1 )
for ( col_name , col_value ) in df1.iteritems ( ) :
    print ( " \n " )
    print("First Column")
    print ( " Column Name is :: " , col_name )
    print("Second Column")
    print ( "Column Values are :: " )
    print ( col_value )

      Name     SirName
0   Sachin    Bhardwaj
1    Vinod       Verma


 Column Name is ::   Name
 Column Values are ::
0     Sachin
1      Vinod
Name:  Name , dtype: object


 Column Name is ::   SirName
 Column Values are ::
0     Bhardwaj
1        Verma
Name:  SirName , dtype: object

In [15]:
#Add two data frames
import pandas as pd
s= pd.Series([5,50,20,70])
df= pd.DataFrame(s)
df.columns= ['List1']
df['List2']= 10
df['SumList']=df['List1']+df['List2']
print(df)

   List1  List2  SumList
0      5     10       15
1     50     10       60
2     20     10       30
3     70     10       80

In [16]:
#Demonstrate deletion, and renaming of columns

import pandas as pd
s1= pd.Series([10, 15, 20, 25])
s2= pd.Series([20, 25, 30, 35])
s3= pd.Series([30, 35, 40, 45])
s4= pd.Series([40, 45, 50, 55])

df1= pd.DataFrame(s1)
df2= pd.DataFrame(s2)
df3= pd.DataFrame(s3)
df4= pd.DataFrame(s4)

df1.columns=['Column1']
print(df1)
df2.columns=['Column2']
print('\n',df2)
df3.columns=['Column3']
print('\n',df3)
df4.columns=['Column4']
print('\n',df4)

del df1['Column1']
print(df1)

dro= df2.drop('Column2', axis=1)
print(dro)

dro1= df3.drop(index=[2,3], axis=0)
print(dro1)

   Column1
0       10
1       15
2       20
3       25

    Column2
0       20
1       25
2       30
3       35

    Column3
0       30
1       35
2       40
3       45

    Column4
0       40
1       45
2       50
3       55
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
   Column3
0       30
1       35

In [17]:
#Demonstrate concat, Merge operations in data frame
import pandas as pd
dict1= {'id':['1','2','3','4','5'],
        'Value1':['A','C','E','G','I'],
        'Value2':['B','D','F','H','J']}
dict2= {'id':['2','3','6','7','8'],
        'Value1':['K','M','O','Q','S'],
        'Value2':['L','N','P','R','T']}
dict3= {'id':['1','2','3','4','5','6','7','8','9','10','11'],
        'Value3':[12,13,14,15,16,17,15,12,13,23,25]}

df1= pd.DataFrame(dict1)
df2= pd.DataFrame(dict2)
df3= pd.concat([df1,df2])
df4= pd.DataFrame(dict3)
df5= pd.merge(df3, df4, on='id')
print(df5)

  id Value1 Value2  Value3
0  1      A      B      12
1  2      C      D      13
2  2      K      L      13
3  3      E      F      14
4  3      M      N      14
5  4      G      H      15
6  5      I      J      16
7  6      O      P      17
8  7      Q      R      15
9  8      S      T      12

In [ ]:
#	Write a Pandas program to join the two given
 #dataframes along rows and assign all data
	#Test Data:
#student_data1:
#  student_id         name        marks
#         S1  Danniella Fenton    200
#         S2      Ryder Storey    210
#         S3      Bryce Jensen    190
#         S4         Ed Bernal    222
#         S5       Kwame Morin    199

#student_data2:
 # student_id         name        marks
#        S4  Scarlette Fisher    201
#        S5  Carla Williamson    200
#         S6       Dante Morse    198
#         S7    Kaiser William    219
#         S8   Madeeha Preston    201