<a href="https://colab.research.google.com/github/ronikapaul2000/Machine_Learning_Lab/blob/main/Pandas_lab_Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np 
arr=np.array([10,15,18,22,30])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
4    30
dtype: int64

In [ ]:
import pandas as pd

import numpy as np
arr=np.array(['a','b','c','d','e'])
s=pd.Series(arr,
index=['first','second','third','fourth','fifth'])
print(s)

first     a
second    b
third     c
fourth    d
fifth     e
dtype: object

In [ ]:
import pandas as pd
#createadictionary
d={'Name':'Hardik','Iplteam':'MI','Runs':1500}
#createaseries
s=pd.Series(d)
print(s)

Name       Hardik
Iplteam        MI
Runs         1500
dtype: object

In [1]:
import pandas as pd
s = pd . Series ( [ 1,2,3,4,5 ] )
print ( " To Multiply all values in a series by 2 " )
print ( "---------------------------------------------")
print ( s*2 )
print ( " To Find the Square of all the values in a series " )
print ( "-----------------------------------------------------" )
print ( s ** 2 )
print ( " To print all the values in a series that are greater than 2 " )
print ('-----------------------------------------------------------------' ) 
print ( s [ s > 2 ] )

 To Multiply all values in a series by 2
---------------------------------------------
0     2
1     4
2     6
3     8
4    10
dtype: int64
 To Find the Square of all the values in a series
-----------------------------------------------------
0     1
1     4
2     9
3    16
4    25
dtype: int64
 To print all the values in a series that are greater than 2
-----------------------------------------------------------------
2    3
3    4
4    5
dtype: int64

In [2]:
import pandas as pd
s1 = pd.Series ( [ 1,2,3,4,5 ] , index = [ ' a ' , ' b ' , ' c ' , ' d ' , ' e ' ] )
s2 = pd.Series ( [ 10,20,30,40,50 ] , index = [ ' a ' , ' b ' , ' c ' , ' d ' , ' e ' ] )

print ( ' To Add Series1 & series2 ' )
print ("--------------------------------")
print ( s1 + s2 )

 To Add Series1 & series2
--------------------------------
 a     11
 b     22
 c     33
 d     44
 e     55
dtype: int64

In [6]:
import pandas as pd
import numpy as np
arr=np.array([ 10,15,18,22,39,55,61,77,42,48,97])
s=pd.Series(arr)
print(s.head(5))
print(s.tail(5))

0    10
1    15
2    18
3    22
4    39
dtype: int64
6     61
7     77
8     42
9     48
10    97
dtype: int64

In [10]:
import pandas as pd
import numpy as np 
arr=np.array([ 10,15,18,22,55,77,81,94])
s=pd.Series(arr) 

print(s.loc[0:5])

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int64

In [12]:
import pandas as pd
import numpy as np
arr=np.array([ 10,15,18,22,55,77,81,88,90,94,100])
s=pd.Series(arr)
print("Elements in the array")
print(s)
print("To print values from index 0 to 3")
print(s.loc[:3])
print("To print values from index 5 to 9")
print(s.iloc[3:4])

Elements in the array
0      10
1      15
2      18
3      22
4      55
5      77
6      81
7      88
8      90
9      94
10    100
dtype: int64
To print values from index 0 to 3
0    10
1    15
2    18
3    22
dtype: int64
To print values from index 5 to 9
3    22
dtype: int64

In [16]:
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr,index=['A','B','C','D','E','F'])
print("Elements in the array")
print ( s )
print("To print values from index 0 to 5 by step 2")
print ( s [ 0 : 5 : 3 ] )

Elements in the array
A    10
B    15
C    18
D    22
E    55
F    77
dtype: int64
To print values from index 0 to 5 by step 2
A    10
D    22
dtype: int64